#game_body {
    height: 100vh;
}
#container {
    float: left;
    width: calc(100% - 300px);
}

.info-panel{
    background-color: #333333;
    color: aliceblue;
    float: right;
    font-family: Calibri, Arial, sans-serif;
    font-size: 16px;
    /*font-size: .75em;*/
    height: 100%;
    width: 300px;
}

.info-panel .title {
    background-color: rgb(33, 33, 33);
    /*color: rgb(60, 60, 60);*/
    font-weight: 700;
    padding: 5px;
    font-size: 1.25em;
    box-shadow: 0 0 8px 1px black;
    height: auto;
    width: inherit;
    text-align: center;
}
.panel-h1 {
    font-size: 2em;
}
.h2 {
    font-size: 1.5em;
}
.h3 {
    font-size: 1.2em;
}
.right {
    text-align: right;
}
.data-panel {
    height: calc(100% - 50px);
    text-align: left;
}
.panel {
    padding-top: 20px;
}
.hidden {
    display: none;
}
.menu-panel{
    display: flex;
    flex-wrap: wrap;
    font-family: "Courier New", monospace;
    height: 50px;
}
.menu-button {
    flex: 1 1 auto;
}
.data-table {
    display: table;
    width: 300px
}
.tableRow {
    display: table-row;
}
.tableHeader {
    display: table-row;
}
.tableHeaderCell {
    display: table-cell;
}
.section {
    margin-top: 10px;
}
.playerInfo {
    display: table-row;

}
.playerAvatar {
    width: 48px;
    position: relative;
}
.playerGuild {
    width: 48px;
    position: relative;
}
.playerName {
    padding-left: 10px;
    font-size: 1.5em;
    vertical-align: middle;
}
.playerIndex::before {
    content: '#'
}
.columnNames{
    font-size: 1.25em;
    display: table-row;
    height: 20px;
}

.gbIcon, .gbLevel {    width: 10%;}
.gbProgress {    width: 40%;}
.gbRank, .gbStatus {    width: 20%;}
.tableRow div, .columnNames div {
    display: table-cell;
    vertical-align: middle;
}

.tableRow .gbIcon {
    height: 30px;
    width: 30px;
    background-position: center;
    background-size: 250%;
    background-repeat: no-repeat;
}
.negative {
    color: red;
}

#sniper-panel .data-table .tableHeader {
    font-size: .8em;
}