/**
 * #game_body and #container are DIV elements created by Inno.
 */
#game_body {
    height: 100vh;
}

#container {
    float: left;
    width: calc(100% - 300px);
}

/**
 * #info-panel is the base container for this addon. Everything else inherits from it.
 */
#info-panel {
    background-color: #282828;
    color: aliceblue;
    float: right;
    font-family: Verdana, sans-serif;
    height: 100%;
    width: 300px;
}

/**
 * #data-panel sits inside info-panel and holds everything except the menu buttons
 */
#data-panel {
    height: calc(100% - 50px);
}

#menu-panel {
    display: flex;
    flex-wrap: wrap;
    font-family: "Courier New", monospace;
    height: 50px;
}

.menu-button {
    flex: 1 1 auto;
}

fieldset {
    border: 0;
    display: flex;
    justify-content: center;
}

fieldset.collapsible {
    height: 8px;
    overflow: hidden;
}

fieldset.collapsible.expanded {
    height: auto;
}

legend {
    margin: auto;
}

table {
    font-size: .75em;
}

table tr:nth-child(2n+3) {
	background-color: #4d4d4d;
}
table tr:nth-child(even) {
	background-color: #737373;
}
.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.hidden {
    display: none;
}


.pin-list {
    display: flex;
    height: 25px;
}
.modal {
    display:none;
    top: 0%;
    left: 0%;
    width: 75vw;
    height: 75vh;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    transform: translate(20%, 20%);
    z-index: 100;
	overflow: clip;
}
.modalContent {
    transform: translate(20%, 20%);
    width: 75vw;
    text-align: left;
    height: 75vh;
}
.modalHeader{
    background: rgba(0,0,0,0.9);
    height: 40px;
}
.modalClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modalClose:hover,
.modalClose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}